.entrada {
    padding: 10px; /* Ajuste o padding */
    border: 2px solid #000; /* Cor da borda */
    border-radius: 0px; /* Remove arredondamento para bordas quadradas */
    width: 100px; /* Largura do campo */
    font-size: 16px; /* Tamanho da fonte */
}


button {
    background-color: rgb(218, 218, 183);
    color: black;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: rgb(161, 126, 61);
}
